<!DOCTYPE html>
<html>

<head>
    <title>Error Page</title>
</head>

<body>
    <div class="error-container">
        <h1>Oops! Something went wrong.</h1>
        <p>We're sorry, but an error has occurred. Please try again later.</p>

        <a href="/">Go to Home</a>
    </div>
</body>

</html>